@using DojoActivityCenter.Models
@model Activity 

<div style="text-align: center;">
    <h1>Create an Activity!</h1>
    <div id="wrapper" style="display: inline-block;text-align: left;">
        <form method="POST" asp-controller="Home" asp-action="SubmitForm">
            <span asp-validation-for="Title"style="color:red;"></span><br>
            <label asp-for ="Title">Title: <input type="text" asp-for="Title"></label><br>

            <span asp-validation-for="Date"style="color:red;"></span><br>
            <label asp-for ="Date">Date: <input type="date" asp-for="Date"></label>
            <p style="color:red;">@ViewBag.Error</p>
            <br>

            <span asp-validation-for="Time"style="color:red;"></span><br>
            <label asp-for ="Time">Time: <input type="text" asp-for="Time" placeholder="00:00 pm"></label><br> 
            
            <span asp-validation-for="Duration" style="color:red;"></span><br>
            <label asp-for ="Duration">Duration: <input type="number" asp-for="Duration" placeholder="please enter number"></label>
            
            <label asp-for ="Durationtype">
            <select name="Durationtype" id="">
                <option value="Hours">Days</option>
                <option value="Hours">Hours</option>
                <option value="Mins">Mins</option>
            </select>
            
            </label><br> 

            <span asp-validation-for="Description"style="color:red;"></span><br>
            <label asp-for ="Description">Description: <br>
                <textarea sp-for="Description" name="Description" id="" cols="30" rows="10"></textarea>
            </label><br>

            <input type="submit" value="submit" style="background-color: white;">
        </form>
    </div><br>
</div>  